<ion-header>
  <ion-toolbar> 
    <ion-title>Te LlevoAPP</ion-title>
    <ion-buttons slot="start"> <!-- Boton para retroceder -->
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card-content>
    <ion-button (click)="nuevodestino()" shape="block">Nuevo Destino</ion-button>
   </ion-card-content>
   <ion-card-content>
    <ion-button (click)="addDirection()" shape="block">Abrir Mapa</ion-button>
   </ion-card-content>
   <ion-card-content>
    <ion-button (click)="historialViajes()" shape="block">Historial de tus Viajes</ion-button>
   </ion-card-content>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button (click)="logout()">
          <ion-icon name="exit-outline"></ion-icon>
          <ion-label>Salir</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
